body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

pre {
    border: 1px dotted #666;
}

li {
    margin-bottom: 16px;
}