<h1>Success!</h1>

<p>Congratulations, you succesfully registered the user <%= user.username %> with password <%= user.password %>.</p>

<p>Now that you have an account, you're going to need to login. POST your username and password to /users/login.</p>
