<h1>Hello <%= user.username>!</h1>

<p>
    Well, you've done it. You've learned about GET requests, headers, redirects,
    sending data with POST requests, and cookies. You're basically a webbrowser
    all by yourself. How does it feel?
</p>

<p>
    Now you've seen that web browsers really just assemble HTTP requests for
    us. That's good news, because navigating the web with just netcat would
    make for a rough user experience.
</p>

<p>
    Given that you've climbed this particular mountain, we think you should plant
    your flag and let others know you've made it.

    <ul>
        <li>
            You can issue a POST to '/flags' and it will plant a flag for you.
            No data necessary, it'll figure out who you are based on your
            cookie.
        </li>
        <li>
            You can issue a GET to '/flags' and it will show you a list of
            every student that's reached the end of this challenge and planted
            a flag. Make sure you can find yourself among their ranks.
        </li>
    </ul>
</p>

<p>
    Now that you've gained experience using a web application via raw HTTP requests,
    it's time to write your own web application!
</p>

