<p>Ah, you made it! As you probably observed, you didn't get a 200 OK response when
   you visited <code><%= level_path 4 %></code>. You saw a 301 response.</p>

<p>The 301 response you saw is known as a <em>redirect</em>. A redirect doesn't send
   you any data, it just gives you a new URL to visit in the "Location" header.
   It looks like you found that header, because you ended up here!</p>

<p>You'll find level 6 at <code><%= level_path 6 %></code>.</p>