<p>Success!</p>

<p>It's time to move on to level 3, however, we've heard that we need to know a secret message to get in.</p>

<p>The good news is, we know the secret: "HellaTameableTransferProtocol".</p>

<p>The bad news is, we don't know how to send it!</p>

<p>This might be a good time to look at HTTP query parameters.</p>

<p>You'll find Level 3 at: <pre><%= level_path 3 %></pre></p>
