<h1>Welcome</h1>
<!--
    TODO: explain how to use netcat to make a GET request.
    TODO: Test if we need `nc -c` for CRLFs, we did with Phoenix, perhaps sinatra is more forgiving,
    but we might need to play it safe, especially if we're on different HTTP servers (it'll be
    unicorn, not thin, on heroku)
-->
<p>echo $EXPLANATION</p>